@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  font-family: monospace;
  font-size: 2rem;
  border-bottom: 5px solid skyblue;
  font-weight: 400;
  text-align: center;
  background-color: #eae3e5;
}
.css-100vwdj {
  gap: 0rem;
  font-weight: 800;
}

#bgimgs {
  background-image: url("../public/img.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
}

.navbars {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  gap: 0px;
  z-index:999;
}
#header{
 background-color: #cfcfd0;
 font-weight: 800;
 text-transform: capitalize;
 width: 100%;
 /* height: 100%; */
}

#header .dropdown-menu a{
  color: black !important;
  font-weight: bold;
}
.brandname{
  /* color: #8bd8bd; */
  font-family: monospace;
  font-size: 2rem;
}
.slider,
#authication {
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 7px 3px 84px 5px #908b8c;
  -moz-box-shadow: 7px 3px 84px 5px #908b8c;
  box-shadow: 2px 2px 44px 15px #faeaed;
}
#authication label{
  font-weight: 900;
  color: black;
}
#authication {
  font-weight: 900;
  color: black;
}
.navcontainer{
  margin-top: 3.5rem;

}
.slider img {
  height: 70vh;
  background: #333a33;
  background-blend-mode: multiply;
  width: 100vw;
  /* object-fit: contain; */
}

.css-1xjenaw option {
  color: #333 !important;
}

#carousel {
  /* background: #d8d8da; */
    width:100vw !important;
  max-width:100% !important;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
}



#address {
  background-color: #eae3e5;
  border: 2px solid skyblue;
}

#drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99999;
  width: 25%;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  /* padding:2.5rem; */
  background: #eae3e5;
  transition: 0.5s all ease-in-out;
}

#drawernavlinks:hover {
  background: #3333;
  color: #333;
  transition: '0.8s all linear';
}
#productTitle{
  margin: 1.5rem;
  padding: 0.5rem;
  background-color: #eae3e5;
}
#productTitle h2{
font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}
#drawernavlinks {
  color: black;
  font-weight: 900;
}

#subnav button {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  background-color: transparent !important;
}

#subnav {
  background-color: #3333;
  color: black !important;
  font-weight: 800;
}

#timecontent {
  background-color: #333a33;
  color: #fff;
  padding: 0.5rem;
  border-radius: 28%;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: #243665;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;

  height: 100%;
  object-fit: cover;
}
#col{
 height: 35vw;
 background-position: center;
 background-size: cover;
 z-index: 999;
 gap: 1rem;
 margin: 0.5rem;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
 background-blend-mode: multiply;
 background-color: #aaa;
 /* background-attachment: fixed; */
}
#col:hover{
 background-size: 50vw;
justify-content: center;
cursor: pointer;
background-color: #848484;
 transition: 0.5s steps(10) all;
}
#introcontent{
  padding: 0 !important;
  height: 2.5rem !important;
  background: #afffa1;
}
#cardtext {
  color: #333 !important;
  font-size: small !important;
}
.productslider .card{
  width: 18rem !important;
  padding: 0;
}
.productslider .card img{
  max-height: 10rem !important;
  width: 100%;
  padding: 0;
}
.card-body{
  font-size: 0.81rem;

}
.productslider {
  position:absolute;
  left: 2rem;
  width: 90vw !important;
}
.slick-next:before,
.slick-prev:before {
  left: -15.5rem;
  color: rgb(0 0 0);
}
.slick-next:before, [dir=rtl] .slick-prev:before {
  color: #333 !important;
}
#toast{
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #f27979;
  color: #fff;
  font-weight: 900;
}

